<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/public/img/elitessacco-bg.png" alt="">
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Register</a></li>
        </ul>
        <button class="hamburger" id="hamburger">
            <i class="fa fa-bars"></i>
        </button>
    </nav>
    <div class="side-nav">
        <span class="close-btn" href="#"> &times;</span>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">View Profile</a></li>
        </ul>
        <div class="prof-img">
            <img class="profilePhoto" src="../public/img/elites-sacco-logo.jpeg" alt="Profile Photo">
        </div>
    </div>

    <main>
        <!-- Welcome note -->
        <section class="welcome">
            <div class="welcome-text">
                <h1>Hello <span class="user-nam">Joseph</span></h1>
                <p>Welcome to Elites Sacco a savings and credit cooperative society.</p>
            </div>
            <div class="welcome-img">
                <img src="/public/img/elites-sacco-logo.jpeg" alt="Welcome Image">
            </div>
        </section>

        <section class="acc-details">
            <div class="acc-bal">
                <p>Total amount of shares</p>
                <h2>UGX: <span class="share-capital">500,000</span></h2>
            </div>
            <div class="acc-actions">
                <div class="increase-shares">
                    <p><i class="fa fa-plus-square"></i></p>
                    <p>Add Shares</p>
                </div>
                <div class="take-loan">
                    <p><i class="fa fa-credit-card"></i></p>
                    <p>Apply Loan</p>
                </div>
            </div>
        </section>

        <!-- OUR STORY AND OUR GOAL START -->
        <section class="our-goal">
            <div class="our-goal-header">
                <h2>ABOUT US</h2>
                <p>
                    Keihangara elites and allies sacco is a Savings and credit cooperative society formally registered in 2023 with a growing membership of over 100 members.
                </p>
            </div>
            <div class="our-goal-rows">
                <div class="our-goal">
                    <div class="our-goal-img">
                        <img src="/public/img/elites-openday.jpeg" alt="Our Goal">
                    </div>
                    <div class="our-goal-desc">
                        <h4>Our Goal</h4>
                        <p>
                            To be the Best Sacco Society providing Quality and Dynamic Financial Solutions to members and the community.</p>
                    </div>
                </div>
                
                <div class="our-story">
                    <div class="our-story-img">
                        <img src="/public/img/elites-openday.jpeg" alt="Our Story">
                    </div>
                    <div class="our-story-desc">
                        <h4>Our Mission</h4>
                        <p>
                            Empowering Our Members Economically through Mobilization of Savings and Provision of Affordable Credit Services.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- OUR STORY AND OUR GOAL END -->

        <!-- OUR SERVICES START -->
        <section class="our-services">
            <div class="our-goal-header">
                <h2>OUR SERVICES</h2>
                <p>
                    We Are Positioned As A Major Financier For residents of Ibanda. Our Members includes Keihangara, Kikyenkye and Igorora Sub counties.                
                </p>
            </div>
            <div class="service-container">
                <div class="service">
                    <div class="service-img">
                        <img src="/public/img/save-money.png" alt="Our Goal">
                    </div>
                    <div class="service-desc">
                        <h4>LOAN PRODUCTS</h4>
                        <p>
                            Designed to met your specific needs at every step of your life
                        </p>
                        <a href="#">
                            Apply Loan <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
                
                <div class="service">
                    <div class="service-img">
                        <img src="/public/img/piggy-bank.png" alt="Our Story">
                    </div>
                    <div class="service-desc">
                        <h4>
                            SAVINGS PRODUCTS
                        </h4>
                        <p>
                            We construct a simple yet effective blueprint for you and your family.                         
                        </p>
                        <a href="#">
                            Buy Shares <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            </section>

        <!-- OUR SERVICES START -->

        <!-- MEET OUR TEAM START -->
        <section class="our-team">
            <div class="our-goal-header">
                <h2>MEET OUR TEAM</h2>
            </div>
            <div class="team-container">
                <div class="team">
                    <div class="team-img">
                        <img src="/public/img/user.png" alt="Our Goal">
                    </div>
                    <div class="team-desc">
                        <h4>BUTEGAINE GODFREY</h4>
                        <p>
                            Sacco Chairperson
                        </p>
                        <div class="contact-btn">
                            <a href="tel:">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="https://wa.me/256778281586" target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="team-img">
                        <img src="/public/img/user.png" alt="Our Goal">
                    </div>
                    <div class="team-desc">
                        <h4>ARINAITWE AGATHA</h4>
                        <p>
                            Sacco Vice Chairperson
                        </p>
                        <div class="contact-btn">
                            <a href="tel:">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="https://wa.me/256778281586" target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="team-img">
                        <img src="/public/img/user.png" alt="Our Goal">
                    </div>
                    <div class="team-desc">
                        <h4>NKUBITO GEORGE</h4>
                        <p>
                            Sacco General Secretary
                        </p>
                        <div class="contact-btn">
                            <a href="tel:">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="https://wa.me/256778281586" target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="team-img">
                        <img src="/public/img/user.png" alt="Our Goal">
                    </div>
                    <div class="team-desc">
                        <h4>TUMUSHABE GOLDEN</h4>
                        <p>
                            Sacco Treasurer
                        </p>
                        <div class="contact-btn">
                            <a href="tel:">
                                <i class="fa fa-phone"></i>
                            </a>
                            <a href="https://wa.me/256778281586" target="_blank">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- MEET OUR TEAM START -->



        <!-- CALL TO ACTION START -->
        <section class="home-actions">
            <div class="home-action">
                <a href="">
                    <div class="home-action-icon">
                        <i class="fa fa-bullhorn" id="fa"></i>
                    </div>
                    <div class="home-action-text">
                        <h3>Annoucements</h3>
                        <p>Apply for a loan and get it approved in a few minutes.</p>
                    </div>
                    <div class="home-action-icon">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
            <div class="home-action">
                <a href="">
                    <div class="home-action-icon">
                        <i class="fa fa-users" id="fa"></i>
                    </div>
                    <div class="home-action-text">
                        <h3>Sacco Constituition </h3>
                        <p>Apply for a loan and get it approved in a few minutes.</p>
                    </div>
                    <div class="home-action-icon">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
            <div class="home-action">
                <a href="">
                    <div class="home-action-icon">
                        <i class="fa fa-file-text-o" id="fa"></i>
                    </div>
                    <div class="home-action-text">
                        <h3>Loan Forms</h3>
                        <p>Apply for a loan and get it approved in a few minutes.</p>
                    </div>
                    <div class="home-action-icon">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
            <div class="home-action">
                <a href="">
                    <div class="home-action-icon">
                        <i class="fa fa-files-o" id="fa"></i>
                    </div>
                    <div class="home-action-text">
                        <h3>Sacco Rules</h3>
                        <p>Apply for a loan and get it approved in a few minutes.</p>
                    </div>
                    <div class="home-action-icon">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </section>
        <!-- CALL TO ACTION START -->

        <!-- FOOTER START -->
        <section class="footer">
            <div class="footer-col">
                <div class="footer-col-2">
                    <h3>Our Contact Details</h3>
                        <div class="footer-rows">
                            <div class="footer-row">
                                <h3>Address</h3>
                                <p>
                                Keihangara Elites and allies sacco draws its strength from the support given by our members, 
                                who are both shareholders and customers.
                                </p>

                                <div class="address-details">
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i> Kafeero St, Igorora, Ibanda</li>
                                        <li><i class="fa fa-phone"></i> +256 7782 81586</li>
                                        <li><i class="fa fa-phone"></i> +256 7782 81586</li>
                                        <li><i class="fa fa-envelope"></i> keihangaraelitesandalliessacco@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>


                <div class="footer-col-2">
                    <h3>Important Links</h3>
                    <div class="footer-rows">
                        <div class="footer-row">
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">FAQS</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- FOOTER START -->
    </main>

    <script src="/public/js/home.js"></script>
</body>
</html>