<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="logo">
        <img src="/public/img/elites-sacco-logo.jpeg" alt="Elites Logo">
    </div>
    <div class="welcome-text">
        <h3>Welcome to Keihagara Elites and Allies Investment Sacco</h3>
        <p>The Sacco for everyone</p>
    </div>
    <div class="buttons">
        <button class="button-register button">Register</button>
        <button class="button-login button">Login</button>
    </div>
</body>
<script src="/public/js/main.js"></script>
</html>