body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ----------------------------------------------- */
/* NAVIGATION BAR */
/* ----------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo img{
    width: 70px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
}

.hamburger:focus {
    outline: none;
}

.side-nav{
    display: none;
}

/* ----------------------------------------------- */
/* WELCOME TEXT */
/* ----------------------------------------------- */
.welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 15px;
    margin-top: 40px;
}
.welcome img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CAF50;
}
/* ----------------------------------------------- */
/* ACCOUNT DETAILS AND ACTIONS */
/* ----------------------------------------------- */
.acc-details{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
}

.acc-details .acc-bal{
    background-color: #4CAF50;
    color: #fff;
    border-radius: 6px;
    padding: 15px 30px;
}

.increase-shares, .take-loan{
    background-color: #D5F6EE;
    color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 2px 5px;
    border-radius: 6px;
    cursor: pointer;
}

.increase-shares i{
    font-size: 30px;
    color: #4CAF50;
}

.take-loan i{
    font-size: 30px;
    color: #FD9101;
}

.take-loan{
    background-color: #FFF1D1;

}
.acc-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* ----------------------------------------------- */
/* HOME PAGE LINKS */
/* 36C4A2 */
/* ----------------------------------------------- */
/* home actions */
.home-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
}

.home-actions >*{
    flex: 1 1 40%;

}

.home-action a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    margin-top: 40px;
    /* border: 2px solid #C9C9C9; */
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    color: #111;
}

/* ----------------------------------------------- */
/* OUR STORY AND OUR GOAL START */
/* ----------------------------------------------- */

.our-goal{
    background-color: #e8e9eb;
}
.our-goal-rows{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.our-goal-rows img{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.our-goal, .our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-goal-desc, .our-story-desc{
    width: 70%;
    background-color: #fff;
    margin-top: -180px;
    padding: 30px;
    color: #444;
}

.our-goal-desc h4, .our-story-desc h4{
    margin-bottom: 30px;
    font-size: 22px;
}

.our-goal-desc p, .our-story-desc p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 2;
}

.our-goal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

/* ----------------------------------------------- */
/* OUR SERVICES START */
/* ----------------------------------------------- */
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 15px;
    margin-bottom: 30px;
}

.service-container img{
    width: 150px;
}

.service-container >*{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 180px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.service-desc a{
    text-decoration: none;
    color: #111;
    text-decoration: underline;
}

.service-desc h4{
    color: #4CAF50;
}

/* ----------------------------------------------- */
/* MEET OUR TEAM START  */
/* ----------------------------------------------- */

.team-container{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.team-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
}
.contact-btn{
    display: flex;
}
.contact-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    background-color: #4CAF50;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* ----------------------------------------------- */
/* CALL TO ACTION START */
/* ----------------------------------------------- */

.footer-col{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 20px;
}

.footer-col>*{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}



@media (max-width: 768px) {
    /* ----------------------------------------------- */
/* NAVIGATION BAR */
/* ----------------------------------------------- */

    .nav-links {
        display: none;
    }

    .side-nav{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0px;
        background-color: #333;
        z-index: 10;
        transition: all 1s ease-in-out;
        margin-right: -40px;
    }
    
    .side-nav .close-btn{
        font-size: 30px;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }

    .side-nav li {
        margin: 50px 10px;
        list-style: none;
    }

    .side-nav li a{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    .prof-img{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .prof-img img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #4CAF50;
        object-fit: cover;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* ----------------------------------------------- */
/* WELCOME TEXT */
/* ----------------------------------------------- */
    .welcome{
        gap: 30px;
        margin-top: 30px;
    }
    .welcome img{
        width: 50px;
        height: 50px;
    }

    .welcome-text h1{
        font-size: 18px;
    }
    .welcome-text p{
        font-size: 14px;
    }

    /* ----------------------------------------------- */
/* ACCOUNT DETAILS AND ACTIONS */
/* ----------------------------------------------- */
.acc-details{
    flex-direction: column;
}
.acc-details .acc-bal{
    width: 90%;
    text-align: center;
}
.acc-actions i{
    font-size: 20px;
}
.acc-actions{
    width: 100%;
    gap: 10px;
}

.increase-shares, .take-loan{
    gap: 5px;
    width: 100%;
    text-align: center;
    padding: 2px 10px;
}
.increase-shares p, .take-loan p{
    font-size: 14px;
    font-weight: 600;
}

/* ----------------------------------------------- */
/* OUR STORY AND OUR GOAL START */
/* ----------------------------------------------- */
.our-goal-rows{
    flex-wrap: wrap;
}

.our-goal-desc h4, .our-story-desc h4{
    margin-bottom: 15px;
    font-size: 18px;
}

.our-goal-desc p, .our-story-desc p{
    margin-bottom: 10px;
    font-size: 16px;
}

.our-goal-desc, .our-story-desc{
    margin-top: -120px;
    padding: 15px;
    width: 85%;
}
/* ----------------------------------------------- */
/* OUR SERVICES START */
/* ----------------------------------------------- */


.service-container{
    flex-wrap: wrap;
}

.service-container >*{
    width: 100%;
    box-shadow: none;
}

.service-container img{
    width: 100px;
}


}



/* 980 TABLET */
@media (max-width: 980px) {
    /* ----------------------------------------------- */
    /* HOME ACTIONS */
    /* ----------------------------------------------- */
    .home-action a p{
        font-size: 14px;
    }
    .home-action a h3{
        font-size: 18px;
    }
}
/* 885 TABLET */
@media (max-width: 885px) {
    /* ----------------------------------------------- */
    /* HOME ACTIONS */
    /* ----------------------------------------------- */
    .home-action a p{
        font-size: 12px;
    }
    .home-action a h3{
        font-size: 16px;
    }
}
/* 790 TABLET */
@media (max-width: 790px) {
    /* ----------------------------------------------- */
    /* HOME ACTIONS */
    /* ----------------------------------------------- */
    .home-action a .fa{
        display: none;
    }
}
/* 600 TABLET */
@media (max-width: 600px) {
    /* ----------------------------------------------- */
    /* HOME ACTIONS */
    /* ----------------------------------------------- */
    .home-actions >*{
        flex: 1 1 100%;
    
    }
}